$black: #000;
$lightGrey: rgba(0, 0, 0, 0.08);
$shadowGray: rgba(90, 90, 90, 0.4);
$gray: rgba(199, 199, 199, 0.7);
$deepGray: #5e5e5e;
$normalGray: #999999;
$whiteGray: #f5f5f5;
$orange: #ff9931;
$lightBlue: #c4ebff;
$skyBlue: #87daff;
$brightBlue: #38c3ff;
$azure: #6ba0ff;
$oceanBlue: #2c3e50;
$midBlue: #34495e;
$darkBlue: #192938;
$violet: #a887ff;
$midGray: #878787;
$snowWhite: #f2f2f2;
$white: #fff;

$aside-width: 300px;
$aside-collapse-width: 66px;
$nav-logo-width: 210px;
$nav-logo-margin-lr: 34px;
$aside-menu-size: 1.8rem;
$aside-menu-icon-size: 2.4rem;
$aside-menu-height: 5.5rem;
$main-nav-height: 5.7rem;